node-red/app/flows.json
[
    {
        "id": "5d713b46afccd272",
        "type": "tab",
        "label": "LoadDatabase2",
        "disabled": false,
        "info": "Tested this application from Balena - moved it into the settings dir. ",
        "env": []
    },
    {
        "id": "7f97efe8f3fca1fc",
        "type": "inject",
        "z": "5d713b46afccd272",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 180,
        "wires": [
            [
                "0a18833e36afe998"
            ]
        ]
    },
    {
        "id": "c768045abb38e3a2",
        "type": "debug",
        "z": "5d713b46afccd272",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 180,
        "wires": []
    },
    {
        "id": "0a18833e36afe998",
        "type": "function",
        "z": "5d713b46afccd272",
        "name": "fnStuff",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 180,
        "wires": [
            [
                "c768045abb38e3a2"
            ]
        ]
    }
]